# Development environment variables
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=thisisasecret222

# Database URL for development
DATABASE_URL=postgres://postgres:postgres@symfony-db:5432/symfony_app

# Phoenix API
PHOENIX_BASE_URL=http://phoenix:4000
